<div class="modal-event" id="modal-event-{{date}}">
    <a class="slidesjs-previous slidesjs-navigation" href="">
        <span class="modal-arrow-btn"></span>
    </a>
    <a class="slidesjs-next slidesjs-navigation" href="{{eventAllUrl}}">
        <span class="modal-arrow-btn"></span>
    </a>
    {{#each events}}
    <div>
        <h3><a href="">{{this.title}}</a></h3>
        <div class="modal-body">
            <p><span>时间：</span>{{this.time}}</p>
            <p><span>地点：</span>{{this.place}}<a href="{{this.mapurl}}">(地图)</a></p>
        </div>
        <a class="btn btn-lg btn-like" href=""><span class="icon-like-lg"></span>{{this.favorites}}人喜欢</a><a class="btn btn-primary btn-lg" href="">我要报名</a>
    </div>
    {{/each}}
</div>